* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/background.png');
}

.system-container {
  margin: 4%;
}

.header {
  display: flex;
  justify-content: center;
  margin: 2em;
  text-align: center;
}

h1, h2 {
  color: white;
  font-family: ' Lucida Sans' , ' Lucida Sans Regular' , Verdana , sans-serif;
  mix-blend-mode: hard-light;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.8em;
}

.title-planets, .title-missions {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 9px;
  margin: 2em;
  text-align: center;
  width: 70em;
}

.solar-system-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.planets-container {
  display: flex;
}

.missions-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-info {
  background: rgba(24, 26, 37, 0.5);
  border: 1px solid white;
  border-radius: 17px;
  box-shadow: 0 0 4px;
  color: white;
  flex-grow: 1;
  margin: 5px;
  mix-blend-mode: hard-light;
  padding: 20px;
  width: 350px;
}

p {
  color: white;
  font-family: Verdana , Tahoma , sans-serif;
  font-size: 1.1em;
}

img {
  transition: 0.5s;
  width: 150px;
}

img:hover {
  width: 130%;
}
